@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2ff;
    font-family: "Lexend Deca", sans-serif;
}
.card-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

.card {
    max-width: 320px;
    padding: 2.5em;
    padding-bottom: 4.5em;
    text-align: left;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.card:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card h2 {
    font-family: "Big Shoulders", sans-serif;
    color: #f2f2f2ff;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0.5em 0;
}

.card p {
    color: #ffffffbf;
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 3em;
}

.btn {
    text-decoration: none;
    background-color: #f2f2f2ff;
    padding: 0.8em 1.8em;
    border-radius: 30px;
}

.btn:hover {
    background-color: transparent;
    color: #f2f2f2ff;
    border: 1px solid #f2f2f2ff;
}

.sedans {
    background-color: #e38826ff;
}

.btn-sedans {
    color: #e38826ff;
}

.suvs {
    background-color: #006970ff;
}

.btn-suvs {
    color: #006970ff;
}

.luxury {
    background-color: #004241ff;
}

.btn-luxury {
    color: #004241ff;
}

@media screen and (min-width: 768px) {
    .card-container {
        flex-direction: row;
    }
}